.vscode
build
*.json
.DS_Store
data/*.png
cmake-build-debug
.idea
data/*.txt
data/*.pdf
data/NN/*
data/TABU/*
data/VNS/*
data/LOCALBRANCHING/*
data/HARDFIXING/*
data/GRASP/*
data/HARDFIXING/*
data/LOCALBRANCHING/*
data/GENETIC/*
perfprof/*.pdf
perfprof/*.csv
data/*.lp